# LISTS

DATA STRUCTURE: It is a way to store and organize data so that it can be used efficiently.

-> List is the one of the Sequence data structure.
-> List are collection of items(Strings, integers or even other lists)
-> List are enclosed in [] (square bracket).
-> Each item in the list has an assigned index value.
-> Each item in the list is seperated by a comma.
-> Lists are mutable which means they can be changed.
-> Indexing starts from 0.

### LIST CREATION

In [8]:
emptyList = []

lst = ['one', 'two', 'three', 'four'] #list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] #list of lists

lst4 = [1, 'ramu', 24, 1.24] #list of different datatypes

print(lst4)
print(lst4[3])

[1, 'ramu', 24, 1.24]
1.24

### LIST LENGTH

In [3]:
lst = ['one', 'two', 'three', 'four']

#find length of a list
print(len(lst))   #Q. len is keyword or function ? ANS : function

4

### LIST APPEND

In [4]:
lst = ['one', 'two', 'three', 'four']

lst.append('five')

print(lst)

['one', 'two', 'three', 'four', 'five']


### LIST INSERT

In [5]:
#Syntax: lst.insert(x,y)

lst = ['one', 'two', 'four']

lst.insert(2,"three") #will add element y(three) at location x(2)

print(lst)

['one', 'two', 'three', 'four']

### LIST REMOVE

In [8]:
#Syntax: lst.remove(x)

lst = ['one' , 'two', 'three', 'four', 'two']

lst.remove('two') #It will remove the first occurance of 'two' in a given list

print(lst)

print(lst.index('two'))

['one', 'three', 'four', 'two']
3

### LIST APPEND AND EXTEND

In [19]:
lst = ['apple', 'banana', 'guava', 'grapes']

lst2 = ['Mango', 'pineapple']

#append
lst.append(lst2) #adds lst2 in lst ; list within list 

print(lst.index("Mango"))

ValueError: 'Mango' is not in list

In [17]:
lst = ['Iron Man', 'Hulk', 'Black Widow']

lst2 = ['Hawkeye', 'Captain America' , 'Thor']

#extend will join the lst2 with lst

lst.extend(lst2 )

print(lst)

['Iron Man', 'Hulk', 'Black Widow', 'Hawkeye', 'Captain America', 'Thor']

### LIST DELETE

In [31]:
#del to remove item based on index position -> del removes the item from the list

lst = ['dbms', 'os', 'algo', 'cn', 'dsa' , 'cp']

print("Befor delete : " ,lst)

print()

del lst[5]

print("After Delete : ", lst)

print()
#or we can use pop() method -> pop returns the item from the list

lst2 = ['hp', 'dell', 'lenovo', 'apple']
a = lst2.pop(2)

print(a)
print()
print(lst2)

Befor delete :  ['dbms', 'os', 'algo', 'cn', 'dsa', 'cp']

After Delete :  ['dbms', 'os', 'algo', 'cn', 'dsa']

lenovo

Returns an item at index at 2 using pop
['hp', 'dell', 'apple']

In [32]:
#remove an element using element name not index

lst = ['pranjal', 'malay', 'shrey', 'prince']
lst.remove('malay')

print(lst)

['pranjal', 'shrey', 'prince']

## LIST RELATED KEYWORDS IN PYTHON

In [35]:
#keyword 'in' is used to test if an element is in a list

lst = ['aws', 'ai' , 'ml' , 'data science']

if 'aws' in lst:
    print('GREAT')

#keyword 'not' can combined with 'in'

if "cp" not in lst:
    print('Innovative')

GREAT
Innovative


## LIST REVERSE

In [36]:
#reverse is reverses the entire list

lst = [1,2,3,4]

lst.reverse() 

print(lst)

[4, 3, 2, 1]

## LIST SORTING

In [37]:
#Create a list with numbers

alphabet = ['u','o','i','e','a']

sorted_lst = sorted(alphabet)

print("Sorted list : ",sorted_lst)

#original list remain unchanged

print("Original list: ",alphabet)

Sorted list :  ['a', 'e', 'i', 'o', 'u']
Original list:  ['u', 'o', 'i', 'e', 'a']

In [38]:
#print a list in reverse sorted order

print("Reverse sorted list : ",sorted(sorted_lst,reverse=True))

#original list remain unchanged

print("Original list : ",sorted_lst)

Reverse sorted list :  ['u', 'o', 'i', 'e', 'a']
Original list :  ['a', 'e', 'i', 'o', 'u']

In [39]:
lst = [1, 20, 5, 5, 4.21]

#sort the list and stored in itself

lst.sort()


print("Sorted list is : ",lst)

Sorted list is :  [1, 4.21, 5, 5, 20]

In [40]:
 
#add element 'a' to the list to show an error

lst1 = ['b', 'c', 13 , 3 , 69]

print(lst1.sort())

TypeError: '<' not supported between instances of 'int' and 'str'

## LIST HAVING MULTIPLE REFERENCES

In [1]:
lst = [1,2,3,4,5]

abc = lst

abc.append(6)

print("Original list : ",lst)
 
#abc is pointing to the address of lst. here 'abc' and 'lst' are references and any change in 'abc' reflects to 'lst'

Original list :  [1, 2, 3, 4, 5, 6]

## STRING SPLIT TO CREATE A LIST

In [4]:
#let's take a string

s = "I.am.Malay.Thakur"
s_lst = s.split('.')
print(s_lst)

['I', 'am', 'Malay', 'Thakur']

In [6]:
s = "I am studying pyhton"
split_lst = s.split(" ") #split_lst = s.split(" ") default split is white character: space or tab
print(split_lst)

['I', 'am', 'studying', 'pyhton']

## LIST INDEXING

-> Each item in the list has an assigned index value starting from 0.

-> Accessing elements in a list is called indexing.

In [7]:
lst = [1,2,3,4,5]
print(lst[0])
print(lst[1]) #print second element

print(lst[-1]) #prints the last element of a list 
print(lst[-2]) #prints the second last element of a list

1
2
5
4

## LIST SLICING

-> Accessing parts of segments is called slicing.
-> The key points to remember is that the : end value represents the first value that is not in the selected slice

In [9]:
numbers = [10,20,30,40,50,60,70,80]

#print all the numbers
print(numbers[:])

#print from index 0 to index 3 (prints upto index 4)
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [30]:
print(numbers)
#print alternate elements in a list
#numbers[starting index:end index:stepsize]
print(numbers[::3]) #count the stepsize from the starting index , [::] indicate the beggining to end of list
print(numbers[-2:])
print(numbers[2:-2])
print(numbers[-2:])
print(numbers[2::2])
print(numbers[1::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 40, 70]
[70, 80]
[30, 40, 50, 60]
[70, 80]
[30, 50, 70]
[20, 40, 60, 80]

## LIST EXTEND USING '+'

In [31]:
lst1 = [2,4,6,8,10]
lst2 = ['two','four','six','eight','ten']
new_lst = lst1 + lst2

print(new_lst)

[2, 4, 6, 8, 10, 'two', 'four', 'six', 'eight', 'ten']

## LIST COUNT

In [32]:
numbers = [2,2,3,2,3,5,3,2,5,7,3,2,7,3,7]

#frequency of 2 in numbers
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

0
5

## LIST LOOPING

In [35]:
#loop through a list

lst = ['apple', 'bannana', 'cat', 'dog']
for i in lst:
    print(i)

apple
bannana
cat
dog

## LIST COMPREHENSION

-> List comprehension provides a concise way to create lists.

Common application are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [36]:
#without list comprehension
squares = []

for i in range(11): #range 10 means 0 to 10
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
#using list comprehension
squares = [i**2 for i in range(0,11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
#example

lst = [-10,20,10,20,30]

#create a new list with values doubled 
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
pos_num = [i for i in lst if i>=0]
print(pos_num)

#create a list of tuples like (number , square of a number)
new_lst2 = [(i,i**2) for i in range(11)]
print(new_lst2)

[-20, 40, 20, 40, 60]
[20, 10, 20, 30]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

## NESTED LIST COMPREHENSIONS

In [5]:
#let's suppose we have a matrix

matrix = [
    [2, 4, 6, 8],
    [3, 6, 9, 12],
    [4, 8, 12, 16]
]
print(matrix[0])
print(matrix[1])
print(matrix[2])

#transpose of matrix withour list comprehension
'''
 M(t) = [2, 3, 4]
        [4, 6, 8]
        [6, 9, 12]
        [8, 12, 16]
 
'''
transposed = []
for i in range(4): #going to each column
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
'''
print(transposed[0])
print(transposed[1])
print(transposed[2])
print(transposed[3]) 
'''
print(transposed)

[2, 4, 6, 8]
[3, 6, 9, 12]
[4, 8, 12, 16]
[[2, 3, 4], [4, 6, 8], [6, 9, 12], [8, 12, 16]]

In [7]:
transposed = [[row[i] for row in matrix] for i in range(4)] #decreases readability but concise
print(transposed)

[[2, 3, 4], [4, 6, 8], [6, 9, 12], [8, 12, 16]]