# SETS

-> A set is an unordered collection of items[cannot be indexed].Every element is unique (no duplicates).

-> The set itself is mutable. We can add or remove items fromm it.

-> Sets can be used to perform mathematical set operations like union,intersection,symmetric difference etc.

-> created using curly braces{}

## Set Creation

In [3]:
#set of integers
s = {1,2,3}
print(s)
#print(s[0]) ->ERROR: typeerror: set is not subscriptable

{1, 2, 3}

In [4]:
#set does not allow duplicates. They storre only one instance.
s = {1,3,4,5,3,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [5]:
#we can make set from a list
s = set([1,2,3,1,2,3,2,3])
print(s)

{1, 2, 3}

In [8]:
#initiallize a set with set() method
s = set()
print(type(s))

<class 'set'>

## ADD ELEMENT TO A SET

-> We can add single element using add() method and 
 *add* multiple elements using update() method
-> sets are mutable

In [9]:
s = {22,33,44}
print(s[2])

TypeError: 'set' object is not subscriptable

In [21]:
#add an element, note elements are random in set 
s.add(55) 
s.add(66)
print(s)

{33, 66, 99, 44, 77, 22, 55, 88}

In [24]:
#add multiple elements using update
table = {5,10,15}
table.add(20)
table.update([25,30,35])
print(table)

{35, 5, 10, 15, 20, 25, 30}

In [26]:
 #add list and set and tuples
table.update([40,45],{50,55},(60,65))
print(table)

{65, 35, 5, 40, 10, 45, 15, 50, 20, 55, 25, 60, 30}

## Removing an elements from a set

-> A particular item can be removed from set using methods, 
1. discard() and 2. remove ()

In [28]:
car = {'tesla', 'toyto', 'BMW', 'TATA'}
print(car)

car.discard('TATA')
print("after removing : ",car)

car.remove('toyto')
print("2. after removing : ",car)

{'BMW', 'toyto', 'tesla', 'TATA'}
after removing :  {'BMW', 'toyto', 'tesla'}
2. after removing :  {'BMW', 'tesla'}

In [30]:
#no key error
car.discard('maruti')
print(car)

{'BMW', 'tesla'}

In [29]:
#key error
car.remove('maruti')
print(car) -> keyerror

KeyError: 'maruti'

In [31]:
#we can remove item using pop() method

fruits = {'apple','banana','grapes','mango','pineapple','guava','potato'}
fruits.pop() #remove random elements
print(fruits)

{'mango', 'grapes', 'banana', 'guava', 'apple', 'potato'}

In [32]:
vegetable = {'potato','brinjal','cauliflower', 'brockili'}
vegetable.clear() #removes all items in vegetable set
print(vegetable)

set()

# PYTHON SET OPERATION

In [37]:
set1 = {1,2,3,5,7,}
set2 = {1,2,4,6,8,10}
#union of 2 set using | operator (or operator)
print(set1 | set2)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [38]:
#another way of getting union of 2 sets
print(set1.union(set2))

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [42]:
#intersection of 2 sets using $ operator
set1 = {1,2,3,5,7,}
set2 = {1,2,4,6,8,10}
print(set1 & set2)

{1, 2}

In [43]:
#use intersection function
print(set1.intersection(set2))

{1, 2}

In [44]:
#set Difference: set of elements that are only in set1 but not in set2
set1 = {'a','b','c','d','e','f'}
set2 = {'a','e','i','o','u'}
print(set1-set2)

{'b', 'd', 'c', 'f'}

In [45]:
#use set difference function
print(set1.difference(set2))

{'b', 'd', 'c', 'f'}

In [48]:
'''symmetric Difference: Set of elements in both set1 and set2 
    #except those that are common in both.
    (A | B) - (A & B)
'''
#use ^ operator

set1 = {'a','b','c','d','e','f'}
set2 = {'a','e','i','o','u'}
print(set1^set2)

{'u', 'f', 'b', 'd', 'c', 'i', 'o'}

In [49]:
#use symmetric_difference function

print(set1.symmetric_difference(set2))

{'u', 'f', 'b', 'd', 'c', 'i', 'o'}

In [51]:
#FIND issubset()
x = {'a','e','i','o','u'}
p = {'a'}
q = {'b','a'}
r = {'a','u'}

print("set 'x' is subset of 'p' ?", x.issubset(p)) #check if x is subset of p
print("set 'p' is subset of 'x' ?", p.issubset(x))
print("set 'q' is subset of 'x' ?", q.issubset(x))
print("set 'r' is subset of 'b' ?", r.issubset(q))
print("set 'r' is subset of 'x' ?", r.issubset(x))

set 'x' is subset of 'p' ? False
set 'p' is subset of 'x' ? True
set 'q' is subset of 'x' ? False
set 'r' is subset of 'b' ? False
set 'r' is subset of 'x' ? True

# FROZEN SETS

-> Frozen sets has the characteristics of sets , but we can't be change it once it's assigned. While tuple are immutable lists , frozen set are immutable sets.

-> Frozen sets can be created using the function *frozenset()*.

-> Sets being mutable are unhashable, so they can't be used as dictionary keys. On other hand, frozensets are hashable and can be used as keys to a ditionary.

-> This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset() , symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [52]:
set1 = frozenset(['MALAY THAKUR', '201B149' , 'CSE'])
set1.add('class topper')

AttributeError: 'frozenset' object has no attribute 'add'

In [53]:
#frozen set does not support indexing.
student1 = frozenset(['MALAY THAKUR', '201B149' , 'CSE'])
print(student1[0])

TypeError: 'frozenset' object is not subscriptable

In [55]:
set1 = frozenset(['a','e','i','o','u'])
set2 = frozenset(['i','o','u'])

print(set1|set2)
print(set1&set2)
print(set1^set2)
print("set2 is subset of set1 ? ", set2.issubset(set1))

frozenset({'i', 'u', 'e', 'a', 'o'})
frozenset({'o', 'u', 'i'})
frozenset({'e', 'a'})
set2 is subset of set1 ?  True