# TUPLES

-> A tuple is similar to list.
-> The difference between the two is that we can't change the elements of tuple    once it is assigned whereas in the list, elements can be changed

## Tuple creation

In [3]:
#empty tuple
t = ()
print(t)

#tuple having integers
t = (2,3,5)
print(t)

#tuple with mixed datatypes
t = (13, 'malay', 70.2)
print(t)

#nested tuple
t = (1,(2,4,6),['malay', '201b149', '6.9'])
print(t)

()
(2, 3, 5)
(13, 'malay', 70.2)
(1, (2, 4, 6), ['malay', '201b149', '6.9'])

In [4]:
#only parenthesis is not enough
t = ('satish')
type(t)

str

In [15]:
#need comma at the end  
t = ('Malay Thakur',)
type(t)

tuple

In [16]:
#REMEMBER 
name = ('MALAY','THAKUR')
type(name)

tuple

In [13]:
#parenthesis is optional
t = "Malay",
print(type(t))
print(t)

<class 'tuple'>
('Malay',)

## ACCESSING ELEMENTS IN TUPLE

In [17]:
t = ('ai', 'os', 'cn' , 'dsa')

print(t[1])

os

In [18]:
#negative Index
print(t[-1])

dsa

In [22]:
#nested tuple -> tuples within tuple
t = ('Hulk', ('wanda','doctor strange', 'spiderman'))
print(t)
print(t[0])
print(t[1])
print(t[1][1])

('Hulk', ('wanda', 'doctor strange', 'spiderman'))
Hulk
('wanda', 'doctor strange', 'spiderman')
doctor strange

In [30]:
#SLICING

t = (2,4,6,8,10)
t1 = (1,2,3,4,5,6,7,8,9,10)
print(t[1:4])
#print elements from starting to last element(excluding last element)
print(t[:-1])
#print elements from starting to last
print(t[:])
#print all even number
print(t1[1::2])

(4, 6, 8)
(2, 4, 6, 8)
(2, 4, 6, 8, 10)
(2, 4, 6, 8, 10)

## Changing a Tuple

-> Unlike lists, (tuples are immutable) [lists are mutable]
-> This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list , its nested items can be changed.

In [32]:
#creating tuple
car = ('toyoto', 'Lambo' , 'Audi' , 'BMW',['Bugati', 'Hyundai', 'Maruti'])
#car[2] = 'Tesla' #type error
car[4][1] = 'Tesla'
print(car)

('toyoto', 'Lambo', 'Audi', 'BMW', ['Bugati', 'Tesla', 'Maruti'])

In [38]:
#concatinating Tuples
t = ('ai','aws','python','cp') + (1,2,3)
print(t)

#repeat the elements in a tuple for a given number of times using the * opearator
t = (('la la ',) * 4)
print(t)

('ai', 'aws', 'python', 'cp', 1, 2, 3)
('la la ', 'la la ', 'la la ', 'la la ')

## Tuple Deletion

-> we cannot change the elements in a tuple.[immutable]
-> That also means we cannot delete or remove items from at tuple.

-> delete entire tuple using [del] keyword

In [45]:
pet = ('cat' , 'dog' , 'pig' ,'rat')

#delete entire pet tuple 
del pet
print(pet) #name error as pet tuple deleted.

NameError: name 'pet' is not defined

## Tuple Count

In [48]:
t = (1,2,3,4,1,2,1,2,3,1,13,2,3,1,2,1)
#get the frequency of an element appear in a tuple
print(t.count(1))
print(t.count(2))
print(t.count(3))
print(t.count(4))

6
5
3
1

## Tuple Index

In [59]:
t = (2,4,2,(6,12,18),10,12,14,16,18,20)
#returns an index of given element if it is in the given tuple
print(t.index(12))
#print the index of a first occurance of an index of a number
print(t.index(2))
#print(t.index(11)) -> value error if 11 is not in the tuple
#print(t[2].index(8)) -> attribute error 
print(t[3].index(18))

5
0
2

## Tuple Membership

In [67]:
#test if an item exists in a tuple or not, using the keyword in.
prime = (2, 3, 5, 7, 11, 13, 17, 19, 21)
print(2 in prime)
print(20 in prime)

True
False

## Built in Function

   ### Tuple Length

In [69]:
cnt = (1,2,3,4,5,6,7,8,9,10)
print(len(cnt))

10

   ### Tuple Sort

In [86]:
tup = (19,17,8,1,4,5,6,7,3,4,5,1,10)
print("sorted tuple : ",sorted(tup))

sorted tuple :  [1, 1, 3, 4, 4, 5, 5, 6, 7, 8, 10, 17, 19]

In [87]:
tup = sorted(tup)
print(tup)
tup[2] = 1
print(tup)

[1, 1, 3, 4, 4, 5, 5, 6, 7, 8, 10, 17, 19]
[1, 1, 1, 4, 4, 5, 5, 6, 7, 8, 10, 17, 19]

In [90]:
even = (8,6,4,0,-2,-4)
even = sorted(even)
tup = even
print(tup)

[-4, -2, 0, 4, 6, 8]

In [92]:
#get the largest element and smallest element in a tuple
print(max(tup))
print(min(tup))

8
-4

In [93]:
#get sum of elements in the tuple
table = (2,4,6,8,10)
print(sum(table))

30