## Anonymous / Lambda Function

In python , anonymous function is a function that is defined without a name.

while normal functions are defined using the def keyword, in Python anonymous 
functions are defined using the lambda keyword.

Lambda functions are used extensively along with built-in-functions like filter() , map() , reduce()

syntax:
        lambda arguments: expression

In [3]:
double = lambda x: x*2  #double - fn-name .. #x-argument .. #x*2 - output

print(double(5))

10

In [1]:
def double(x):
    return x * 2

print(double(5))

10

In [ ]:
#example use with filter

lst = [1,2,3,4,5]

even_lst = list(filter(lambda x: (x%2==0), lst) #lambda x:  (x%2==0) is no-name function .. x is argument 
print(even_lst)

#example use with map()

In [25]:

lst = [1,2,3,4,5]
sqr_lst = list(map(lambda x: x**2, lst))
print(sqr_lst)

[1, 4, 9, 16, 25]

In [26]:
#exaple use with reduce()
#reduce function can be applied in an iterable like list,tuple,dict 

from functools import reduce

lst = [1,2,3,4,5]

produce_lst = reduce(lambda x,y: x*y,lst)
print(produce_lst)

120