# Introduction to Pandas dataframe

Data frame is a main object in pandas. It is used to represent data with rows and columns.

Data frame is a data structure represent the data in tabular or excel spread sheet like data.

### creating dataframe:

In [1]:
import pandas as pd
df = pd.read_csv('covid19.csv') #read weather.csv data -> csv : comma seperated values
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,05/29/2021,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,05/29/2021,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,05/29/2021,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,05/29/2021,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,05/29/2021,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [ ]:

"""
Above data has 8 columns and 306429 rows.

panda reads the csv file using read_csv function.

"""

In [5]:
covid_data = [('4/1/2021','Delhi','India','4/1/2021 , 17:00',10.0,10.0,0.0),
              ('5/1/2021','Delhi','India','5/1/2021 , 17:00',15.0,15.0,0.0),
              ('6/1/2021','Delhi','India','6/1/2021 , 17:00',20.0,20.0,0.0),
              ('7/1/2021','Delhi','India','7/1/2021 , 17:00',200.0,100.0,100.0),
              ('8/1/2021','Delhi','India','8/1/2021 , 17:00',1000.0,900.0,100.0),
              ('9/1/2021','Delhi','India','9/1/2021 , 17:00',4000.0,3900.0,100.0),
            ]
df = pd.DataFrame(covid_data, columns = ['Date', 'State', 'Country', 'Last update','Confirmed','Deaths','Recovered'])
df

       Date  State Country       Last update  Confirmed  Deaths  Recovered
0  4/1/2021  Delhi   India  4/1/2021 , 17:00       10.0    10.0        0.0
1  5/1/2021  Delhi   India  5/1/2021 , 17:00       15.0    15.0        0.0
2  6/1/2021  Delhi   India  6/1/2021 , 17:00       20.0    20.0        0.0
3  7/1/2021  Delhi   India  7/1/2021 , 17:00      200.0   100.0      100.0
4  8/1/2021  Delhi   India  8/1/2021 , 17:00     1000.0   900.0      100.0
5  9/1/2021  Delhi   India  9/1/2021 , 17:00     4000.0  3900.0      100.0

In [6]:
#get dimensions of the table

df.shape  #total number of rows and columns

(6, 7)

In [7]:
#if you want to see initial some rows then use head command (DEFAULT 5 ROWS)

df.head()

       Date  State Country       Last update  Confirmed  Deaths  Recovered
0  4/1/2021  Delhi   India  4/1/2021 , 17:00       10.0    10.0        0.0
1  5/1/2021  Delhi   India  5/1/2021 , 17:00       15.0    15.0        0.0
2  6/1/2021  Delhi   India  6/1/2021 , 17:00       20.0    20.0        0.0
3  7/1/2021  Delhi   India  7/1/2021 , 17:00      200.0   100.0      100.0
4  8/1/2021  Delhi   India  8/1/2021 , 17:00     1000.0   900.0      100.0

In [9]:
#if you ant to see last few rows then use tail command (defautl : last 5 rows )
df.tail()

       Date  State Country       Last update  Confirmed  Deaths  Recovered
1  5/1/2021  Delhi   India  5/1/2021 , 17:00       15.0    15.0        0.0
2  6/1/2021  Delhi   India  6/1/2021 , 17:00       20.0    20.0        0.0
3  7/1/2021  Delhi   India  7/1/2021 , 17:00      200.0   100.0      100.0
4  8/1/2021  Delhi   India  8/1/2021 , 17:00     1000.0   900.0      100.0
5  9/1/2021  Delhi   India  9/1/2021 , 17:00     4000.0  3900.0      100.0

In [10]:
#slicing

df[3:6] # if i wish to see latest data

       Date  State Country       Last update  Confirmed  Deaths  Recovered
3  7/1/2021  Delhi   India  7/1/2021 , 17:00      200.0   100.0      100.0
4  8/1/2021  Delhi   India  8/1/2021 , 17:00     1000.0   900.0      100.0
5  9/1/2021  Delhi   India  9/1/2021 , 17:00     4000.0  3900.0      100.0

In [14]:
df.Date #print particular column data

0    4/1/2021
1    5/1/2021
2    6/1/2021
3    7/1/2021
4    8/1/2021
5    9/1/2021
Name: Date, dtype: object

In [17]:
#another way of accessing column
df['Confirmed'] #df.Confirmed (both are same)

0      10.0
1      15.0
2      20.0
3     200.0
4    1000.0
5    4000.0
Name: Confirmed, dtype: float64

In [19]:
#get 2 or more data
df[['Confirmed','Deaths','Recovered']]

   Confirmed  Deaths  Recovered
0       10.0    10.0        0.0
1       15.0    15.0        0.0
2       20.0    20.0        0.0
3      200.0   100.0      100.0
4     1000.0   900.0      100.0
5     4000.0  3900.0      100.0

In [20]:
#get all Deaths
df['Deaths']

0      10.0
1      15.0
2      20.0
3     100.0
4     900.0
5    3900.0
Name: Deaths, dtype: float64

In [22]:
#print max Death
df['Deaths'].max()

3900.0

In [23]:
#print min Deaths
df['Deaths'].min()

10.0

In [24]:
#print max Deaths
df['Deaths'].describe()

count       6.000000
mean      824.166667
std      1546.300154
min        10.000000
25%        16.250000
50%        60.000000
75%       700.000000
max      3900.000000
Name: Deaths, dtype: float64

In [25]:
#select the date having maximum death
df[df.Deaths == df.Deaths.max()]

       Date  State Country       Last update  Confirmed  Deaths  Recovered
5  9/1/2021  Delhi   India  9/1/2021 , 17:00     4000.0  3900.0      100.0

In [28]:
#select only the date which has maximum Deaths
df.Date[df.Deaths == df.Deaths.max()]

5    9/1/2021
Name: Date, dtype: object