# What is Pandas-python ? Introduction and installation

Pandas is python module that makes data science easy & effective.
It is used in reading and processing data.
stores data in tabular form.



Weather dataset

Question?

    1. What was the maximum temperature in new york in month of january?
    2. On which days did it rains?
    3. What was the average speed of wind during the month?

In [3]:
import pandas as pd
df = pd.read_csv('weather_data_nyc.csv') #df - data frame -> table just like numpy has array -> pandas has dataframe
df

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0
...,...,...,...,...,...,...,...
361,27-12-2016,60,40,50.0,0,0,0
362,28-12-2016,40,34,37.0,0,0,0
363,29-12-2016,46,33,39.5,0.39,0,0
364,30-12-2016,40,33,36.5,0.01,T,0
365,31-12-2016,44,31,37.5,0,0,0

In [4]:
#get the maximum temperature
df ['maximum temperature'].max()

96

In [8]:
#to know which day it rains
df['date'] [df['maximum temperature'] == 96]

204    23-7-2016
225    13-8-2016
Name: date, dtype: object

In [11]:
#average minimum temperature
df['minimum temperature'].mean()

49.80601092896175

# Installation

In [ ]:
pip3 install pandas