In [4]:
import numpy as np

# Elementwise Operations


### 1.Basic Operations

#### with scalars

In [5]:
a = np.array([3,6,9,12]) #create an numpy array

a + 1 # 1 is scalar

array([ 4,  7, 10, 13])

In [6]:
a ** 2

array([  9,  36,  81, 144], dtype=int32)

### All arithmetic operates elementwise

In [12]:
b = np.ones(4)
print(b)
print(b+1)
print(a-b)

[1. 1. 1. 1.]
[2. 2. 2. 2.]
[ 2.  5.  8. 11.]

In [13]:
a * b #elementwises multiplication

array([ 3.,  6.,  9., 12.])

#matrix multiplication

In [16]:
c= np.diag([1,3,5,7])
print(c*c)

print("**********************")
print(c.dot(c)) #multiplication

[[ 1  0  0  0]
 [ 0  9  0  0]
 [ 0  0 25  0]
 [ 0  0  0 49]]
**********************
[[ 1  0  0  0]
 [ 0  9  0  0]
 [ 0  0 25  0]
 [ 0  0  0 49]]

#### comparisions

In [17]:
a = np.array([3,6,9,12])
b = np.array([2,6,8,12])

a == b

array([False,  True, False,  True])

In [24]:
#array_wise comparision
a = np.array([1,2,3,4])
b = np.array([5,2,2,4])
c = np.array([1,2,3,4])

np.array_equal(a,c)

True

In [22]:
print(a>b)
print(b>a)
a>b

[False False  True False]
[ True False False False]

array([False, False,  True, False])

##### LOGICAL OPERATOR

In [7]:
a = np.array([1,1,0,0], dtype = bool)
b = np.array([1,0,1,0], dtype = bool)

np.logical_or(a,b)

array([ True,  True,  True, False])

In [8]:
np.logical_and(a,b)

array([ True, False, False, False])

##### TRANSCENDENTAL FUNCITONS:

In [9]:
a = np.arange(5)

np.sin(a)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [16]:
np.sin(np.pi/2.)

1.0

In [17]:
np.sin(np.pi/6.)

0.49999999999999994

In [19]:
np.sin(np.array([0. , 30. , 45. , 60. , 90])* np.pi/180.)

array([0.        , 0.5       , 0.70710678, 0.8660254 , 1.        ])

In [21]:
a = np.arange(5)
np.log(a)

C:\Users\hp\AppData\Local\Temp/ipykernel_15992/4169074047.py:2: RuntimeWarning: divide by zero encountered in log
  np.log(a)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436])

In [22]:
np.exp(a) #evaluates e^x for each element in a given input #e^0 = 1 ; #e ^ 1 = The value of e is 2.718

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692, 54.59815003])

#### shape Mismatch

In [24]:
a = np.arange(4) #size = 4

np.array([1,2]) + a #size(2) + size (4) cannot be added

ValueError: operands could not be broadcast together with shapes (2,) (4,)

### Basic Reductions

computing sums

In [25]:
x = np.array([1,2,3,4])
np.sum(x)

10

In [26]:
#sum by rows and columns

x = np.array([[1,1],[6,9]])
x

array([[1, 1],
       [6, 9]])

In [27]:
x.sum(axis=0) #columns (first dimension)

array([ 7, 10])

In [28]:
x.sum(axis = 1) #rows (second dimension)

array([ 2, 15])

In [32]:
x = np.array([[2,3,4],[5,6,7],[8,9,10]])
x.sum(axis = 1)

array([ 9, 18, 27])

##### OTHER REDUCTION

In [33]:
x = np.array([1,2,-1,0,3])
x.min()

-1

In [34]:
x.max()

3

In [36]:
x.argmin() #index of minimum element

2

In [37]:
x.argmax() #index of maximum element

4

##### LOGICAL OPERATIONS

In [38]:
np.all([True,True,False]) #and

False

In [39]:
np.any([True,False,False]) #or

True

In [42]:
#can be used for array comparison
a = np.zeros((5,5))
print(a)
np.any(a!=0)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

False

In [40]:
np.all(a==a)

True

In [43]:
a = np.array([1,2,3,2]) 
b = np.array([2,2,3,2])
c = np.array([6,4,4,5])

((a <= b) & (b <= c)).all() #[T,T,T,T] & [T,T,T,T] -> and -> True

True

##### STATISTICS

In [47]:
x = np.array([1,2,3,1])
y = np.array([[1,2,3],[5,6,7]]) #1+2+3+5+6+7 =  24 / 6 = 4.0
x.mean()
y.mean()

4.0

In [49]:
np.median(x) # for n= odd asc - 1,1,2,3 ... [(n/2) term  + (n/2 + 1) term]/2 -> median
"""
for n = even 
(n/2 +1 )th term -> median

"""


y.sum(axis = 1)

array([ 6, 18])

In [50]:

np.median(y, axis = 1) #0 - column , #1 - rows

array([2., 6.])

In [51]:
x.std()

0.82915619758885

### Example:

In [ ]:
Data in populations.txt describes the populations of hares(rabbit)
and lynxes(wild cat) (and carrots) in nothern canada during 20 yrs.